@font-face {
    font-family: 'Georgia';
    src: local('Georgia Regular'), local('Georgia-Regular'),
    font-url('./font/georgia-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;

$content-width: 1200px;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}
.wrapper{
    max-width: $content-width;
    margin: auto;
}
h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: $color-light-xl;
    width: 310px;
}
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: $color-dark-l
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.start-screen p {
    color: $color-dark-s;
    width: 460px;
    margin-top: 42px;
    margin-bottom: 42px;
}
.about p {
    color: $color-dark-xl;
    width: 430px;
    margin-top: 25px;
}
.discretion {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
}
.title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.06em;
    color: $color-primary;
    transition-duration: 1s;
}
.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding-left: 4px;
    color: $color-light-xl;
    transition-duration: 1s;
}
li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    list-style-type: none;
    padding: 0 18px;
    color: $color-dark-s;
    cursor: pointer;
    transition-duration: 1s;
  }
li span {
    padding-bottom: 4px;
}
.header #li-item-1 {
    cursor: auto;
    color: $color-light-s;
}
.header #li-item-1 span {
    border-bottom: 3px solid $color-primary;
}
#li-item-4 {
    padding: 0 0 0 17.5px;
}
.header li:hover {
    color: $color-light-s;
}
.start-screen {
    background: url(./img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.about {
    background: $color-light-xl;
}
.pets {
    background: $color-light-l;
}
.help {
    background: $color-light-xl;
}
.donation {
    background: $color-light-l;
}
.footer {
    background: url(./img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.arrow-left {
    background-image: url(./svg/arrow.svg);
    width: 14px;
    height: 6px;
    display: inline-block;
}
.arrow-right {
    background-image: url(./svg/arrow.svg);
    width: 14px;
    height: 6px;
    display: inline-block;
    transform: rotate(-180deg);
}
.credit-card-icon {
    background-image: url(./svg/credit-card.svg);
    width: 30px;
    height: 23px;
    display: inline-block;
}
.email-icon {
    background-image: url(./svg/icon-email.svg);
    width: 40px;
    height: 32px;
    display: inline-block;
}
.tel-icon {
    background-image: url(./svg/icon-phone.svg);
    width: 40px;
    height: 32px;
    display: inline-block;
}
.location-icon {
    background-image: url(./svg/icon-marker.svg);
    width: 22px;
    height: 32px;
    display: inline-block;
}
.icon1 {
    background-image: url(./svg/icon-pet-food.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon2 {
    background-image: url(./svg/icon-transportation.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon3 {
    background-image: url(./svg/icon-toys.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon4 {
    background-image: url(./svg/icon-bowls-and-cups.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon5 {
    background-image: url(./svg/icon-shampoos.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon6 {
    background-image: url(./svg/icon-vitamins.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon7 {
    background-image: url(./svg/icon-medicines.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon8 {
    background-image: url(./svg/icon-collars-leashes.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon9 {
    background-image: url(./svg/icon-sleeping-area.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.button-arrow-element {
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    transition-duration: 1s;
}
.button-arrow-element:hover {
    background: $color-primary-light;
    border-color: $color-primary-light;
}
.button-primary-element {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: $color-primary;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    transition-duration: 1s;
}
.button-primary-element:hover{
    background: $color-primary-light;
}
.button-secondary-element {
    padding: 13px 43px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: none;
    border-radius: 100px;
    border: 2px solid $color-primary;
    cursor: pointer;
}
.button-credit-card-element {
    display: flex;
    padding: 10px 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    background: $color-primary;
    border-radius: 9px;
    border-style: none;
    cursor: pointer;
    transition-duration: 1s;
}
.button-credit-card-element:hover {
    background: $color-primary-light;
}
.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 30px;
}
.logo {
    text-decoration: none;
    align-self: flex-end;
}
.logo:hover .title{
    color: $color-light-l;
}
.logo:hover .subtitle{
    color: $color-light-l;
}

.start-screen .wrapper {
    height: 908px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start-screen-content{
    padding-top: 70px;
}
.start-screen-pup {
    align-self: flex-end;
}
.start-screen-pup img {
    display: block;
}
.about .wrapper {
    height: 588px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-pets {
    padding-left: 175px;
    padding-bottom: 14px;
}
.about-content {
    width: 430px;
    padding-right: 175px;
    padding-bottom: 18px;
}
.about-content h2{
    width: 370px;
}
.pets .wrapper {
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pets .slider {
    margin-top: 60px;
    width: $content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.pets h2 {
    width: 400px;
    text-align: center;
    padding-top: 80px;
}
.card{
    width: 270px;
    height: 435px;
    background: $color-light-s;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}
.card h3{
    padding-top: 25px;
    padding-bottom: 30px;
}
.pets .card + .card {
    margin-left: 37px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
}
.card .button-secondary-element {
    transition-duration: 1s;
}
.card:hover .button-secondary-element {
    background: $color-primary-light;
    border-color: $color-primary-light;
}
.help .wrapper{
    height: 611px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help .list{
    margin-top: 60px;
    width: $content-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
}
.list-item {
    width: auto;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.list-item h3 {
    padding-top: 30px;
    transition-duration: 1s;
}
.list-item:hover h3 {
    color: $color-primary;
}
.help h2 {
    width: 350px;
    text-align: center;
    padding-top: 80px;
}
.donation .wrapper {
    height: 462px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.donation-doge {
    padding-left: 143px;
    padding-bottom: 15px;
}
.donation-content {
    width: 380px;
    padding-right: 142px;
    padding-bottom: 18px;
}
.donation-content h2 {
    width: 300px;
    padding-bottom: 20px;
}
.donation-content h4 {
    padding-bottom: 20px;
}
.donation-content .credit-card {
    padding-bottom: 20px;
}
.donation-content .credit-card-number {
    display: block;
    padding-left: 15px;
}
.nav-menu {
    padding-bottom: 5px;
}
.navigation {
    display: flex;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.footer .wrapper {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h2 {
    color: $color-light-xl;
}
.questions {
    display: flex;
    flex-direction: column;
    width: 279px;
    padding-right: 10px;
}
.visit {
    display: flex;
    flex-direction: column;
    width: 311px;
}
.footer-link {
    margin-top: 40px;
}
.visit .footer-link {
    margin-top: 33px;
}
.footer-link a {
    text-decoration: none;
    color: $color-primary;
    display: flex;
    align-items: center;
    transition-duration: 1s;
}
.footer-link:hover a {
    color: $color-light-l;
}
.footer-link-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: inline-block;
    margin-left: 20px;
}
.footer-doge{
    align-self: flex-end;
}
.footer-doge img{
    display: block;
}
.pets-standalone {
    background: $color-light-l;
}
.pets-standalone .wrapper {
    height: 1342px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pets-standalone .slider {
    margin-top: 35px;
    width: $content-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.pets-standalone h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    width: 400px;
    text-align: center;
    padding-top: 60px;
}
.header-pets .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.header-pets .title {
    color: $color-dark-l;
}
.header-pets .subtitle {
    color: $color-dark-3xl;
}
.header-pets .logo:hover .title{
    color: $color-primary;
}
.header-pets .logo:hover .subtitle{
    color: $color-primary;
}
.header-pets li {
    color: $color-dark-l;
}
.header-pets li:hover {
    color: $color-dark-3xl;
}
.header-pets #li-item-2 {
    cursor: auto;
    color: $color-dark-3xl;
}
.header-pets #li-item-2 span {
    border-bottom: 3px solid $color-primary;
}
.pets-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}
.pets-navigation .button-paginator {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
.button-inactive-element {
    width: 52px;
    height: 52px;
    border: 2px solid $color-dark-s;
    color: $color-dark-s;
    border-radius: 100px;
    background: none;
    cursor: auto;
    transition-duration: 1s;
}
.button-normal-element {
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: $color-primary;
    cursor: pointer;
    transition-duration: 1s;
    color: $color-dark-3xl;
}
.button-normal-element:hover {
    border-color: $color-primary-light;
    background: $color-primary-light;
}
.pets-navigation .button-arrow-element {
    color: $color-dark-3xl;
}