html {
  font-size: 16px;
}

body.bright {
  background-color: #c8e8c8;
  color: #222222;
}

body.dark {
  background-color: #202020;
  color: #e4e4e4;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font: bold 2rem Arial, sans-serif;
  text-align: center;
}

.board {
  height: 450px;
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.cell {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 2rem Arial, sans-serif;
  outline: 0.25rem solid #444444;
  user-select: none;
  cursor: pointer;
}

.clicked {
  background-color: #999999;
}

.defused {
  background-color: green;
}

.exploded {
  background-color: red;
}

[data="1"] {
    color: blue;
}

[data="2"] {
    color: green;
}

[data="3"] {
    color: red;
}

[data="4"] {
    color: purple;
}

[data="5"] {
    color: maroon;
}

[data="6"] {
    color: turquoise;
}

[data="7"] {
    color: black;
}
[data="8"] {
    color: #434343;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 450px;
}

.theme, .newgame, .sound {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  font: bold 1.5rem Arial, sans-serif;
  border: solid 0.25rem #444444;;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  background-color: #ffffff;
}

.theme, .sound {
  width: 50px;
}
