html {
  font-size: 16px;
}

body {
  background-color: #c8e8c8;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 0;
  font: bold 2rem Arial, sans-serif;
  text-align: center;
  color: #222222;
}

.board {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.cell {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 2rem Arial, sans-serif;
  outline: 0.25rem solid #444444;
  user-select: none;
  cursor: pointer;
}

.clicked {
  background-color: #999999;
}

.defused {
  background-color: green;
}

.exploded {
  background-color: red;
}

[data="1"] {
    color: blue;
}

[data="2"] {
    color: green;
}

[data="3"] {
    color: red;
}

[data="4"] {
    color: purple;
}

[data="5"] {
    color: maroon;
}

[data="6"] {
    color: turquoise;
}

[data="7"] {
    color: black;
}
[data="8"] {
    color: #434343;
}

.newgame {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font: bold 1.5rem Arial, sans-serif;
  border: solid 0.25rem #444444;;
  border-radius: 15px;
  width: 120px;
  height: 40px;
  background-color: #ffffff;
}

.settings {
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 500px;
  flex-direction: row;
  justify-content: space-around;
}

.settings div,
.settingsBombs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  font: bold 1.15rem Arial, sans-serif;
  border: solid 0.25rem #444444;;
  border-radius: 15px;
  width: 145px;
  height: 30px;
}

.settings div {
  cursor: pointer;
  user-select: none;
}

.settingsBombs {
  margin: 0 auto;
  height: 37px;
  width: 200px;
  margin-bottom: 1rem;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.settingsBombs input {
  width: 45px;
  border: solid 0.2rem #444444;
  border-radius: 10px;
  font: bold 1.25rem Arial, sans-serif;
}