@font-face {
    font-family: 'Georgia';
    src: local('Georgia Regular'), local('Georgia-Regular'),
    font-url('/assets/fonts/fonts/georgia/georgia-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;

$content-width: 1200px;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}
.wrapper{
    max-width: $content-width;
    margin: auto;
}
.logo {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: $color-light-xl;
    width: 310px;
}
h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: $color-dark-l
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
}
p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.start-screen p {
    color: $color-dark-s;
    width: 460px;
    margin-top: 42px;
    margin-bottom: 42px;
}
.about p {
    color: $color-dark-xl;
    width: 430px;
    margin-top: 25px;
}
.title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.06em;
    color: $color-primary;
}
.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding-left: 4px;
    color: $color-light-xl
}
li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    list-style-type: none;
    padding: 0 17.5px;
    color: $color-dark-s;
    cursor: pointer;
  }
.li-item-4 {
    padding: 0 0 0 17.5px;
}
.start-screen {
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}
.about {
    background: $color-light-xl;
}
.pets {
    background: $color-light-l;
}
.help {
    background: $color-light-xl;
}
.donation {
    background: $color-light-l;
}
.footer {
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.arrow-left {
    background-image: url(./svg/arrow.svg);
    width: 14px;
    height: 6px;
    display: inline-block;
}
.arrow-right {
    background-image: url(./svg/arrow.svg);
    width: 14px;
    height: 6px;
    display: inline-block;
    transform: rotate(-180deg);
}
.icon1 {
    background-image: url(./svg/icon-pet-food.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon2 {
    background-image: url(./svg/icon-transportation.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon3 {
    background-image: url(./svg/icon-toys.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon4 {
    background-image: url(./svg/icon-bowls-and-cups.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon5 {
    background-image: url(./svg/icon-shampoos.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon6 {
    background-image: url(./svg/icon-vitamins.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon7 {
    background-image: url(./svg/icon-medicines.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon8 {
    background-image: url(./svg/icon-collars-leashes.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.icon9 {
    background-image: url(./svg/icon-sleeping-area.svg);
    width: 60px;
    height: 60px;
    display: inline-block;
}
.button-arrow-element {
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    background: none;
    cursor: pointer;
}
.button-primary-element {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: $color-primary;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
}
.button-secondary-element {
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background: none;
    border-radius: 100px;
    border: 2px solid $color-primary;
    cursor: pointer;
}
.button-credit-card-element {
    padding: 10px 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    background: $color-primary;
    border-radius: 9px;
    border-style: none;
    cursor: pointer;
}
.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 30px;
}
.start-screen .wrapper {
    height: 908px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start-screen-content{
    padding-top: 100px;
}
.start-screen-pup{
    padding-top: 184px;
}
.about .wrapper {
    height: 588px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-pets {
    padding-left: 175px;
    padding-bottom: 14px;
}
.about-content {
    width: 430px;
    padding-right: 175px;
    padding-bottom: 18px;
}
.about-content h2{
    width: 370px;
}
.pets .wrapper {
    height: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pets .slider {
    margin-top: 60px;
    width: $content-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.pets h2 {
    width: 400px;
    text-align: center;
    padding-top: 80px;
}
.card{
    width: 270px;
    height: 435px;
    background: $color-light-s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h3{
    padding-top: 25px;
    padding-bottom: 29px;
}
.card + .card {
    margin-left: 37px;
}
.help .wrapper{
    height: 611px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help .list{
    margin-top: 60px;
    width: $content-width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
}
.list-item {
    width: auto;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-item h3 {
    padding-top: 30px;
}
.help h2 {
    width: 350px;
    text-align: center;
    padding-top: 80px;
}
.donation .wrapper {
    height: 462px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
