@font-face {
    font-family: 'Georgia Regular';
    src: font-url('/assets/fonts/fonts/georgia/georgia-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;

* {
    margin: 0;
    padding: 0;
}
.logo {
    text-decoration: none;
}